*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
.usernav-wrapper {
    width: 100%;
    background-color: #f5f5f5;

}
.usernav-wrapper .usernav-content {
    width: 1190px;
 margin: 0 auto;
}

.usernav-wrapper .usernav-content:after{
    content: "";
    display: block;
    clear: both;
}
.usernav-wrapper .usernav-content .usernav-content-left{
    /* border: 1px solid red; */
    float: left;
}
.usernav-wrapper .usernav-content .usernav-content-left li{
    float: left;
    padding: 0 7px;
}
.usernav-wrapper .usernav-content .usernav-content-left div{
    height: 35px;
    line-height: 35px;
}

.usernav-wrapper .usernav-content .usernav-content-left li a{
    font-size: 12px;
    color: #6c6c6c;
}
.usernav-wrapper .usernav-content .usernav-content-left li a:hover{
    color: #ff4400;
}



